<div class="row">
  <div class="col-md-10 offset-md-1">
    <ul class="nav nav-pills">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">BackGround Color</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" *ngFor="let i of cssListModel.colorList"
            (click)="cssListModel.ChangeColor(i.value)">{{i.text}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Font Family</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" *ngFor="let i of cssListModel.fontList"
            (click)="cssListModel.ChangeFont(i.value)">{{i.text}}</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">Font Color</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" *ngFor="let i of cssListModel.colorList"
            (click)="cssListModel.ChangeFontColor(i.value)">{{i.text}}</a>
        </div>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="container">
  <app-game-start #gameStartComponent *ngIf="!hasGameStarted"></app-game-start>
  <app-executing-game #executingGameComponent></app-executing-game>
  <div class="card" *ngIf="hasGameOver && gameWinnerUser !== undefined">
    <div class="card-header">
      <h3></h3>
    </div>
    <div class="card-body">
      <h1>We have a Winner!!</h1>
      <h2>{{gameWinnerUser.UserName}} is the new EMPEROR!</h2>
      <button class="button" (click)="PlayAgain()" class="btn btn-primary">
        Play Again
      </button>
    </div>
  </div>
</div>