<toaster-container></toaster-container>
<div class="card">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="card-header">
    Enter Players Name
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <form [formGroup]="gameStartForm" #formDir="ngForm" (ngSubmit)="StartGame()">
        <div class="row">
          <div class="form-group input-group-sm  col-md-4 offset-md-1">
            <label for="playerOneUserName">Player 1 User Name</label>
            <input id="playerOneUserName" formControlName="playerOneUserName" autocomplete="off" [(ngModel)]="playerOne.UserName"
              [ngClass]="ValidateCSSControl('playerOneUserName')" maxlength="50"/>
            <div *ngIf="ValidateErrorControl('playerOneUserName')" [ngClass]="ShowErrorMessage('playerOneUserName')">
              <i class="fas fa-exclamation-circle"></i> {{ errorMessageHelper.ValueRequired }}
            </div>
          </div>
          <div class="form-group input-group-sm  col-md-4 offset-md-1">
            <label for="playerTwoUserName">Player 2 User Name</label>
            <input id="playerTwoUserName" formControlName="playerTwoUserName" autocomplete="off" [(ngModel)]="playerTwo.UserName"
              [ngClass]="ValidateCSSControl('playerTwoUserName')" maxlength="50"/>
            <div *ngIf="ValidateErrorControl('playerTwoUserName')" [ngClass]="ShowErrorMessage('playerTwoUserName')">
              <i class="fas fa-exclamation-circle"></i> {{ errorMessageHelper.ValueRequired }}
            </div>
          </div>
        </div>
        <div class="row col-md-1 offset-md-5">
          <button type="submit" class="btn btn-primary" [disabled]="DisableSubmitButton()">
            Start
          </button>
        </div>

      </form>


    </blockquote>
  </div>
</div>