<toaster-container></toaster-container>
<div class="row" *ngIf="currentNumberMatch !== 0 && currentPlayer !== undefined">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Round # {{currentNumberMatch}}</h3>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <h2>Player's turn {{currentPlayer.UserName}}</h2>
          <form [formGroup]="gameExecutionForm" #formDir="ngForm" (ngSubmit)="NextStep()">
            <div class="row">
              <div class="form-group input-group-sm   input-group-sm col-md-5 offset-md-1">
                <label for="currentPlayer">Select your movement.</label>
                <select id="movementSelected" formControlName="movementSelected" [(ngModel)]="movementSelected"
                  [ngClass]="ValidateCSSControl('movementSelected')">
                  <option value="0">Seleccione una opción..</option>
                  <option *ngFor="let i of movementList" [ngValue]="i.MovementId">{{i.MovementName}}</option>
                </select>
                <div *ngIf="ValidateErrorControl('movementSelected')" [ngClass]="ShowErrorMessage('movementSelected')">
                  <i class="fas fa-exclamation-circle"></i> {{ errorMessageHelper.ValueRequired }}
                </div>
              </div>
            </div>
            <div class="row col-md-1 offset-md-5">
              <button type="submit" class="btn btn-primary" [disabled]="DisableSubmitButton()">
                Ok
              </button>
            </div>
          </form>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h3>Score</h3>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Round #</th>
              <th scope="col">Winner</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of matchHistory">
              <td>{{item.Round}}</td>
              <td>{{item.UserName}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>