<toaster-container></toaster-container>
<div class="card">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="card-header">
    <h3>Games Records</h3>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Game Play Id</th>
          <th scope="col">Player # 1</th>
          <th scope="col">Wins Player 1</th>
          <th scope="col">Player # 2</th>
          <th scope="col">Wins Player 2</th>
          <th scope="col">Game Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of gameRecord">
          <td>{{item.GamePlayId}}</td>
          <td>{{item.Player1}}</td>
          <td>{{item.UserOneWins}}</td>
          <td>{{item.Player2}}</td>
          <td>{{item.UserTwoWins}}</td>
          <td>{{item.GameDate}}</td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" (click)="SearchPrevious()">Previous</a></li>
        <li class="page-item"><a class="page-link">{{pageIndex}}</a></li>
        <li class="page-item"><a class="page-link" (click)="SearchNext()">Next</a></li>
      </ul>
    </nav>
  </div>
</div>